{% extends "geuSite/base.html" %}
{% load static %}
{% block title %}GeuSite{% endblock title %}
{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-lg-12 col-xs-6">
                <h1 class="text-center">Bienvenido</h1>
            </div>
                <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-lightblue">
                        <div class="inner">
                            <h3>que</h3>
                            <p><br></p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-check"></i>
                        </div>
                        <p class="small-box-footer">Usuario</p>
                    </div>
                </div>
            <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-orange">
                        <div class="inner">
                            <h3>que</h3>
                            <p><br></p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-check"></i>
                        </div>
                        <p class="small-box-footer">Usuario</p>
                    </div>
                </div>
            <div class="col-lg-3 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-gradient-red">
                        <div class="inner">
                            <h3>que</h3>
                            <p><br></p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-check"></i>
                        </div>
                        <p class="small-box-footer">Usuario</p>
                    </div>
                </div>
        </div>
    </section>
{% endblock content %}