{% extends "geuSite/base.html" %}
{% load static %}
{% block title %}Lecciones{% endblock title %}
{% block titlePage %}Lecciones{% endblock titlePage %}
{% block content %}
    <section>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Sección de Lecciones</h4>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}